<%- include('partials/head.ejs')  %>
                            <td bgcolor="#ffffff" align="center" valign="top" style="padding: 30px 20px 20px 20px; border-radius: 4px 4px 0px 0px; color: #111111; font-family: 'Lato', Helvetica, Arial, sans-serif; letter-spacing: 4px; line-height: 48px;">
                                <h1 style="font-size: 35px; font-weight: 400; padding-bottom:20px;">Reset Password Failed!</h1> 
                                <img src="https://i0.wp.com/nrifuture.com/wp-content/uploads/2022/05/comp_3.gif?fit=800%2C600&ssl=1" width="250px" height="120" style="display: block; border: 0px;" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td bgcolor="#f4f4f4" align="center" style="padding: 0px 10px 0px 10px;">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                        <tr>
                            <td align="center" bgcolor="#ffffff" align="left" style="padding: 20px 30px 40px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;">
                                <p style="margin: 0;">Failed reset your password, because your new password is not same with confirm password</p>
                                <p style="margin: 0; font-size: 13px;">Please input again with carefully</p>
                                <a href="/reset-password/<%= email %>"><button type="submit"
                                    style="background-color: #4C956C; color: #ffffff; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;">Back</button></a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td bgcolor="#f4f4f4" align="center" style="padding: 30px 10px 25px 10px;">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                        <tr>
                            <td bgcolor="#4C956C" align="center" style="padding: 30px 30px 30px 30px; border-radius: 4px 4px 4px 4px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;">
                                <h2 style="font-size: 15px; font-weight: 400; color: #ffffff; margin: 0;">&copy CoffeeGit App 2023</h2>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
</body>

</html>